/* *,
*::after,
*::before
{
  margin: 0;
} */
body
{
  margin: 0;
  overflow: hidden;
}
#play,
#pause {
	float: left;
	width: 40px;
  margin-top: -1.4pc;
  margin-left: 1pc;
}
#play:hover,
#pause:hover {
	cursor: pointer;
}
#pause {
	display: none;
}